/* You can add global styles to this file, and also import other style files */

body {
    font-family: Helvetica, Arial;
}
.main {
    background: #ECECEC;
    padding: 20px;
}
.clearfix {
    float: none;
    clear: both;
    text-decoration: none;
    list-style: none;
}
#content {
    width: 80%;
    min-height: 500px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ddd;
    background: #eee;
}
header {
    padding: 15px;
    background: #E74A30;
}
header .title-subtitle {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    padding: 20px;
    margin-left: -65px;
    padding-left: 195px;
}
header h1, header p {
    margin: 0px;
    margin-left: 15px;
    color: white;
}
header p {
    color: #ddd;
}
header #logo {
    width: 10%;
    display: block;
    float: left;
    margin-top: 15px;
}
.btn-add-album {
    display: block;
    padding: 10px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    background: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px gray;
    color: #666;
    text-decoration: none;
    transition: all 300ms
}
.btn-add-album:hover {
    background: white;
    color: #444;
}
#albums-list {
    padding: 0px;
    margin: 0px;
}
.album-item {
    list-style: none;
    border: 1px solid #DDD;
    float: left;
    width: 95%;
    height: 120px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #BBBBBB;
    background: white;
    margin: 10px;
    margin-top: 2px;
}
.album-item .content-data {
    float: left;
    margin-left: 20px;
}
.album-item h4 {
    columns: #444;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}
.album-item url {
    margin: 0px;
    padding: 0px;
    height: 45px;
    overflow: hidden;
}
.btn {
    font-size: 13px;
    border: 1px solid #ccc;
    border-color: #1976D2;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ddd;
    padding: 5px !important;
    text-decoration: none;
    color: white;
    background: #0074D9;
    cursor: pointer;
    margin-left: 5px;
}
.btn-editar {
    background: #0A0;
    border-color: #59A600;
}
.btn-eliminar {
    background: #E23237;
    border-color: #F54747;
}
.btn-def {
    background: #EAA615;
    border-color: #CC941C;
    color: white;
    margin-left: 0px;
}
.album-box, .image-box {
    margin-left: 25px;
    background: white;
    color: black;
    border: 1px solid #ddd;
    width: 90%;
    min-height: 150px;
    margin-top: 20px;
    padding: 20px;
}
.image-box .imagen {
    width: 100%;
}
.confirm {
    background: white none repeat scroll 0 0;
    margin-top: -95px;
    position: absolute;
    width: 275px;
    text-align: center;
}
.seguro {
    background: white none repeat scroll 0 0;
    margin-top: -41px;
    position: absolute;
    width: 333px;
    text-align: left;
    height: 45px;
}
#pictures-list .image-item {
    float: left;
    margin: 0px;
    padding: 0px;
    height: 200px;
    width: 240px;
    list-style: none;
    border: 1px solid #ccc;
}
#pictures-list .image-item .picture {
    height: 150px;
    overflow: hidden;
}
#pictures-list .image-item .picture img {
    width: 100%;
}
#pictures-list .image-item .title {
    width: 100%;
    height: 50px;
    display: block;
    background: #eee;
    text-align: center;
    color: #444;
    line-height: 50px;
}
#picture-list .image-item .title a {
    text-decoration: none;
    color: #444;
}
footer {
    width: 1150px;
    margin: 0px auto;
    margin-top: 20px;
    color: grey;
}